.form-input__background {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 20px auto;

  background-color: #255dc0;
  border-radius: 4px;
}

.form-input__title {
  font-weight: 700;
  font-size: 18px;
  width: 80%;
  margin: 12px auto;
  color: #181d30;
}

.form-input {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input__element {
  border: none;
  outline: none;
  color: #181d30;
  border-radius: 2px;
}

.form-input__element::placeholder {
  color: #181d30;
}

.form-input__element::-webkit-inner-spin-button,
.form-input__element::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-input__btn {
  font-weight: 700;

  width: 80%;
  height: 25px;
  margin: 0 auto;

  background-color: #112860;
  color: #e0dfd0;

  border: none;
  border-radius: 4px;
}
